.App {
  text-align: center;
}

.container {
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.chat-box {
  background-color: white;
  flex: 1;
  border: #61dafb solid 1px;
}

.connection {
  display: flex;
  flex: 0.2;
  flex-direction: column;
  justify-content: center;
}

.connection > input {
  width: 250px;
}

.server-text {
  color: red;
}

.you-text {
  color: white;
}

.header {
  color: white;
}
